@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --theme-primary-50: #fef2f2;
        --theme-primary-100: #fee2e2;
        --theme-primary-200: #fecaca;
        --theme-primary-300: #fca5a5;
        --theme-primary-400: #f87171;
        --theme-primary-500: #ef4444;
        --theme-primary-600: #dc2626;
        --theme-primary-700: #b91c1c;
        --theme-primary-800: #991b1b;
        --theme-primary-900: #7f1d1d;
        --theme-primary-950: #450a0a;
        --theme-primary-foreground: #fafafa;

        --theme-secondary: #334155;
        --theme-secondary-accent: #64748b;
        --theme-secondary-foreground: #fafafa;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }

    .theme-primary-green {
        --theme-primary-50: #f0fdf4;
        --theme-primary-100: #dcfce7;
        --theme-primary-200: #bbf7d0;
        --theme-primary-300: #86efac;
        --theme-primary-400: #4ade80;
        --theme-primary-500: #22c55e;
        --theme-primary-600: #16a34a;
        --theme-primary-700: #15803d;
        --theme-primary-800: #166534;
        --theme-primary-900: #14532d;
        --theme-primary-950: #052e16;
        --theme-primary-foreground: #fafafa;
    }

    .theme-primary-blue {
        --theme-primary-50: #eff6ff;
        --theme-primary-100: #dbeafe;
        --theme-primary-200: #bfdbfe;
        --theme-primary-300: #93c5fd;
        --theme-primary-400: #60a5fa;
        --theme-primary-500: #3b82f6;
        --theme-primary-600: #2563eb;
        --theme-primary-700: #1d4ed8;
        --theme-primary-800: #1e40af;
        --theme-primary-900: #1e3a8a;
        --theme-primary-950: #172554;
        --theme-primary-foreground: #fafafa;
    }

    .theme-primary-violet {
        --theme-primary-50: #f5f3ff;
        --theme-primary-100: #ede9fe;
        --theme-primary-200: #ddd6fe;
        --theme-primary-300: #c4b5fd;
        --theme-primary-400: #a78bfa;
        --theme-primary-500: #8b5cf6;
        --theme-primary-600: #7c3aed;
        --theme-primary-700: #6d28d9;
        --theme-primary-800: #5b21b6;
        --theme-primary-900: #4c1d95;
        --theme-primary-950: #2e1065;
        --theme-primary-foreground: #fafafa;
    }

    .theme-secondary-slate {
        --theme-secondary: #334155;
        --theme-secondary-accent: #64748b;
        --theme-secondary-foreground: #fafafa;
    }
    .theme-secondary-gray {
        --theme-secondary: #374151;
        --theme-secondary-accent: #6b7280;
        --theme-secondary-foreground: #fafafa;
    }
    .theme-secondary-zinc {
        --theme-secondary: #3f3f46;
        --theme-secondary-accent: #71717a;
        --theme-secondary-foreground: #fafafa;
    }
    .theme-secondary-neutral {
        --theme-secondary: #404040;
        --theme-secondary-accent: #737373;
        --theme-secondary-foreground: #fafafa;
    }
    .theme-secondary-stone {
        --theme-secondary: #44403c;
        --theme-secondary-accent: #78716c;
        --theme-secondary-foreground: #fafafa;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
